<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 justify-content-center">

        <div class="col-11 col-sm-8 col-md-6 col-lg-4">

            <div class="card shadow">
                <div class="card-header bg-dark text-white">
                    <h4 class="mb-0">Autenticação II</h4>
                </div>

                <div class="card-body">

                    @if (mensagemErro) {
                    <div class="alert alert-danger">
                        {{ mensagemErro }}
                    </div>
                    }

                    <form [formGroup]="formLogin" (ngSubmit)="entrar()">

                        <div class="mb-3">
                            <label class="form-label">Usuário</label>
                            <input type="text" class="form-control" formControlName="login">

                            @if (validarCampo('login', 'required')) {
                            <div class="text-danger small">
                                O login é obrigatório.
                            </div>
                            }

                            @if (validarCampo('login', 'minlength')) {
                            <div class="text-danger small">
                                O login deve ter no mínimo 3 caracteres.
                            </div>
                            }
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Senha</label>
                            <input type="password" class="form-control" formControlName="senha">

                            @if (validarCampo('senha', 'required')) {
                            <div class="text-danger small">
                                A senha é obrigatória.
                            </div>
                            }

                            @if (validarCampo('senha', 'minlength')) {
                            <div class="text-danger small">
                                A senha deve ter no mínimo 3 caracteres.
                            </div>
                            }
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-success" [disabled]="formLogin.invalid">
                                Entrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>